{% extends 'Main.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <!-- Judul -->
        <div class="col-md-2">
            <img src="" >
            <h1 style="font-size:78px;" class='Judul'>EDUCATION</h1>
        </div>

        <div class="col-md-9">
            <!-- Tulisan sekolah-sekolahnya -->
            <p class="Isian">
            <ul>
                <li style="font-size:45px;">
                    2017 Faculty of Computer Science, University of Indonesia</li>
                <li style="font-size:45px;">2014 Science Major, 33 Senior High School</li>
                <li style="font-size:45px;">2011 204 Junior High School</li>
                <li style="font-size:45px;">2009 Pegadungan 11 Elementary School</li>
                <li style="font-size:45px;">2005 Cengkareng 15 Elementary School</li>
            </ul>
            </p> 
        </div>
    </div>    
</div>

{% endblock content %}