{% extends 'Main.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <!-- Judul -->
        <div class="col-md-2">
            <img src="" >
            <h1 style="font-size:70px;" class='Judul'>EXPERIENCE</h1>
        </div>

        <div class="col-md-8">
            <!-- Tulisan pengalaman-pengalaman -->
            <p class="Isian">
            <ul>
                <li>2018 PMB Fasilkom UI - Academic Staff</li>
                <li>2018 Compfest - Decoration and Costume Staff</li>
                <li>2018 DPM Fasilkom UI - Human Resource Staff</li>
                <li>2018 CS League - Official Staff</li>
                <li>2017 SBF BEM Fasilkom - Sports division Staff</li>
                <li>Coding - Decoration Staff</li>
            </ul>
            </p> 
      </div>
    </div>    
</div>

{% endblock content %}

