{% extends 'Main.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <img src="" >
            <h1 class='Judul'>ACTIVITY</h1>    
        </div>
    <div class="col-sm-8 font-regis">
        <form id ="" method="POST" action="saveact">
        {% csrf_token %}
        {{saveact.as_p}}
        <div class = "submit-btn" style="text-align:center">
            <input id="submit"type="submit"class="btn btn-su"value="Submit" >
        </div>
        </form>
    </div>
    </div>
</div>
{% endblock %}



