{% extends 'Main.html' %}
{% block content %}
{% load static %}

<div class="container">
    <div class="row">
        <!-- Judul -->
        <div class="col-md-2">
            <img src="" >
            <h1 class='Judul'>HOME</h1>   
        </div>

        <!-- Untuk nama dan foto -->
        <div class="col-md-9">
            <h1 style="font-family:Courgette;font-size:70px;" class="Nama">Shafira Ishlah Nurulita</h1>
            <p class="Isian">
            <img src="https://lh6.googleusercontent.com/IVGqoONp-7hSZ8Pp7Z-iZ7zc5HiCA2EOCuhOK-fPN2aa3R7bdL2aJe5aP4DZt7aVMcNlKBsbCUXo8Os1gdA=w1920-h852-rw" alt="foto shais" style="width:300px;height:400px;">
            </p>   
        </div> 
    </div>
</div>

{% endblock content %}