body{
    background-color: black;
    min-width: 100%;
    height: 100%;
    position: relative;
}

.navbar {
    background-color: black;
    text-decoration-color:white;
    font-size: 40px;
    position: relative;

}
.navbar-toggler{
    background-color: black;
}
.navbar navbar-expand-lg navbar-light bg-dark{
    background-color: black;

}

a{
    color: white;
}

nav .nav-link{
    color: white;
}
.row{
    margin-left: 30px;
    min-width:100%;
    height:100%;
    background-color:white;padding-top:30px;
    position: relative;
    /* z-index: -1; */
}
* {
    box-sizing: border-box;
}

.column2 {
    float: right;
    width: 4%;
    padding: 6%;
    position: relative;
}

/* Clearfix (clear floats) */
.row2::after {
    content: "";
    clear: both;
    display: table;
    position: relative;
}
.col-md-2{
    margin-left: 30px;
    margin-top: 30px;
    width:200px;
    height:930px;
    background-color:#AB045F;padding-top:30px;
    position: relative;
    
}
.col-md-2{
    margin-left: 30px;
    margin-top: 30px;
    width:200px;
    height:930px;
    background-color:#AB045F;padding-top:30px;
    position: relative;
    
}
.Judul{
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    writing-mode: vertical-rl;
    text-orientation: upright;  
    color: white;
    font-size: 90px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}
.Nama{
    text-align: center;
    color:black;
    margin-left: 30px;
    margin-top: 70px;
    margin-right: 30px;
    font-size: 50px;
    position: relative;
}
#Sosmed{
    float: right;
    margin-left: 800px;
    min-width: 50px;
    height: 50px;
    position: relative;
    
}


ul.a{
    margin-left: 30px;
    margin-right: 30px; 
    align-content: center;
    list-style-type: disc;
    font-size: 40px;
    position: relative;
}
p{
    
    margin-left: 30px;
    margin-top: 40px;
    margin-right: 30px;
    color:black;
    font-size: 30px;
    text-align: center;
    position: relative;
    
}
ul{
    font-size: 50px;
    padding-top: 30px;
    position: relative;
}

h1{
    font-size: 50px;
    text-align :center;
    position: relative;
}

.footer {
    background-color: black;
    padding: 10%;
    text-align: center;
    position: relative;
}

