{% extends 'Main.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <!-- Judul -->
    <div class="col-md-2">
        <img src="" >
        <h1 class='Judul'>PROFILE</h1>
    </div>

    <div class="col-md-8">
      <!-- Nama -->
      <h1 class="Nama">Shafira Ishlah Nurulita</h1>

      <!-- profile -->
      <p class="Isian">
        <ul class='a' style="color:black">
            <li>Gender&emsp;&emsp;&emsp;: Female</li>
            <li>Born&emsp;&emsp;&emsp;&emsp;: January 5 2000</li>
            <li>Nationality&emsp; : Indonesian</li>
            <li>Marital Status: Single</li>
            <li>Address&emsp;&emsp;&nbsp;               : Puri Gardena blok E5, Jakarta</li>
        </ul>

        <!-- Deskripsi paragraf singkat -->
        <p>
        <br>
          I'm 18 years old student of Computer
          Science undergraduate program at University of Indonesia
          where I spent my time for learning and fulfilled myself with my interest in Technology and Arts.
          in my spare time, I like to shop and take a walk at the mall.
        </p>
    </p>
    </div> 
  </div>
</div>

{% endblock content %}