{% extends 'Main.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <!-- Judul -->
    <div class="col-md-2">
        <img src="" >
        <h1 class='Judul'>REGISTER</h1>    
    </div>

    <div class="col-md-8">
      <form action="respon.php">
        <!-- Nama Lengkap -->
        <div class="form-group">
          <label for="inputEmail4">Nama</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Nama Lengkap">
        </div>

        <!-- Birthdate -->
        <div class="form-group">
          <label for="inputEmail4">BirthDate</label>
          <input type="date" class="form-control" id="inputEmail4" placeholder="">
        </div>

        <!-- Email -->
        <div class="form-group">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>

        <!-- Username -->
        <div class="form-group">
          <label for="inputEmail4">Username</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="@">
        </div>

        <!-- Password -->
        <div class="form-group">
          <label for="inputPassword4">Password</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>

        <!-- Confirmation Password -->
        <div class="form-group">
          <label for="inputPassword4">Confirmation Password</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Confirmation Password">
        </div>  

        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>

        <!-- Button submit -->
        <button type="submit" class="btn btn-primary">submit</button>      
      </form>
    </div>
  </div>  
</div>

{% endblock content %}
