{% extends 'Main.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <!-- Judul -->
    <div class="col-md-2">
        <img src="" >
        <h1 class='Judul'>SKILLS</h1>   
    </div>

    <div class="col-md-8">
      <p class="Isian">
        <!-- Skill bahasa -->
        <h1>Languange</h1>
          <div class="progress" style="height:30px">
            <div class="progress-bar" style="width:100%;height:20px">Indonesia</div>
          </div>
          <div class="progress" style="height:30px">
            <div class="progress-bar" style="width:100%;height:20px">English</div>
          </div>
          <div class="progress" style="height:30px">
            <div class="progress-bar" style="width:60%;height:20px">Chinese</div>
          </div>
          <div class="progress" style="height:30px">
            <div class="progress-bar" style="width:20%;height:20px">Japanese</div>
          </div>
        
        <!-- Skill bahasa koding -->
        <h1><br><br>Programming Language</h1>
          <div class="progress" style="height:30px">
            <div class="progress-bar" style="width:80%;height:20px">Java</div>
          </div>
          <div class="progress" style="height:30px">
            <div class="progress-bar" style="width:80%;height:20px">Python</div>
          </div>
          <div class="progress" style="height:30px">
            <div class="progress-bar" style="width:20%;height:20px">Java</div>
          </div>
      </p> 
    </div>
  </div>    
</div>

{% endblock content %}