{% extends 'Main.html' %}
{% load static %}
{% block content %}
<div class="container">
        <div class="row">
                <div class="col-md-2">
                    <img src="" >
                    <h1 class='Judul'>RESULT</h1>    
                </div>

<div class="col-sm-9">
        <h1><br></h1> 
<section class="result" >
    <table class = "table table-striped table-dark" >
        <thead>
            <th>Activity</th>
            <th>Day</th>
            <th>Date</th>
            <th>Time</th>
            <th>Place</th>
            <th>Category</th>
        </thead>
        <tbody>
            {% for i in jadwal %}
            <tr>
                <td>{{i.activity}}</td>
                <td>{{i.days}}</td>
                <td>{{i.dates}}</td>
                <td>{{i.time}}</td>
                <td>{{i.place}}</td>
                <td>{{i.category}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form id ="" action="deleteact">
            <div class = "submit-btn" style="text-align:center">
                <input id="submit"type="submit"class="btn btn-success"value="Delete All">
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}

